.index-page {
    width: 100%;
    height : 100%;
    text-align: center;
    background:#f6f9f2;
    font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
}
.index-img-container {
    width:100%;
    height:35%;
    overflow: hidden;
}
.index-img {
    width : 100%;
    height: auto;
}
.index-img-footer {
    width:100%;
    height:auto;
}
.index-img-footer-line {
    width:100%;
    height:3px;
    background-color:#a98955;
}
.index-img-footer-tag {
    display: table;
    width:auto;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    padding-left:6px;
    padding-right:6px;
    padding-bottom: 3px;
    font-size: 10px;
    color:#ffffff;
    background-color:#a98955;
}
.index-title {
    font-size : 32px;
    color : #424242;
    text-align: center;
    width : 80%;
    height:17%;
    overflow: hidden;
    margin-top:10%;
    margin-left:auto;
    margin-right:auto;
}
.index-desc {
    font-size : 16px;
    color : #666666;
    height : 24%;
    overflow: hidden;
    width : 90%;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}
.index-div-line-container {
    width:100%;
    height:auto;
}
.index-div-line {
    width:60%;
    height:2px;
    background-color:#dedede;
    margin-left:auto;
    margin-right:auto;
}
.index-page-title-bar {
    width:100%;
    height:6%;
    position:fixed;
    top:0px;
}
.index-page-view-container {
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    background-color:#3f3f3f;
}
.vertical-black-gradient {
    background-image:-moz-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.15) 70%, rgba(0,0,0,0) 100%);
    background-image:-o-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.15) 70%, rgba(0,0,0,0) 100%);
    background-image:-webkit-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.15) 70%, rgba(0,0,0,0) 100%);
}
